.itemsDisplay {
    display: flex;
    flex-direction: row;
    width: 500px;
    height: auto;
    justify-content: space-between;
}

.checkoutItems {
    padding-left: 60px;
}

.checkoutForm {
    padding-left: 60px;
}

.checkoutTable {
    font-size: 12px;
    width: 564px;
    height: 90px;
}

.tableTitle {
    width: 141px;
}

.tableTexts {
    padding-left: 10px;
}

.tableNumbers {
    text-align: center;
}

@media only screen and (max-width: 480px) {
    .checkoutTable {
        font-size: 12px;
        width: 300px;
        height: 190px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 734px){
    .checkoutTable {
        font-size: 12px;
        width: 370px;
        height: 140px;
    }
    }
