.card-container {
    justify-self: center;
    margin-top: 40px;
}

.card-item h5 {
    margin: 15px 0px;
}

.card-item p {
    margin: 10px 0px;
}

.card-item-detail {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: #3D3C3A;
}

.card-item-detail:hover {
    text-decoration: underline;
    transition: 0.7s;
}