nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    background-color: #EEE3CB;
    border-radius: 0px 0px 30px 30px;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 45px;
    font-weight: 300;
    color: #3D3C3A;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0px 10px;
}

.nav-text {
    font-family: 'Inter', sans-serif;
    font-size: 23px;
    font-weight: 700;
    text-decoration: none;
    padding: 0px 10px;
    color: #3D3C3A;
}