@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  padding: 0;
}

html {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  background-color: #fbf6ee;
}

/*Font Size*/

h1 {
  font-size: 45px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 20px;
}

p {
  font-size: 18px;
}